---

import styles from "../styles/components/Products.module.css"
const products = [
    {
        nombre: "Palomitas con sal",
        descripcion: "Las clasicas palomitas de maiz con sal natural",
        imagen: "/img/palomitasConSal.webp",
    },
    {
        nombre: "Gelatina de agua",
        descripcion: "Delisiosas gelatinas en base a agua, de sabor limon, fresa",
        imagen: "/img/gelatina.webp",
    },
    {
        nombre: "Gelatina de mosaico",
        descripcion: "Gelatina de leche con cubos de gelatinas de sabores",
        imagen: "/img/mosaico.webp",
    },
];

---

<section class={styles.container} id="sabores">
    <h1>Otros produtos a la venta</h1>
    <span class={styles.descubre}>Descubre nuestra seleccion artesanal disañeda para cuativar a tus clientes</span>
    <div class={styles.gridCard}>
        {
            products.map((product) => {
                return (
                    <div class={styles.card}>
                        <img src={product.imagen} class={styles.productImagen}/>
                        <p>{product.nombre}</p>
                        <span>{product.descripcion}</span>
                    </div>
                );
            })
        }
    </div>
</section>
